@import '../partials/mixins';
@import '../partials/variables';

.navbar-container {
    width: 100%;
    background-color: $color-ghostwhite;
    box-shadow: darkgray 0px 1px 5px;
    nav {
        color: $color-onyx;
        padding: 10px 0;
        display: flex;

        a {
            transition: transform 0.3s;
            padding: 4px 8px;
            border-radius: 4px 8px;
        }

        a:not(:last-child) {
            margin: 0 10px;
        }

        a:hover {
            transform: scale(1.1);
        }

        a.active {
            background-color: $color-littleboyblue;
            color: $color-ghostwhite;
            border-radius: 8px;
            font-weight: 600;
        }
    }
}