@import './components/navbar';
@import './partials/global';

html {
  background-image: url('../images/Radiant-Gradient.svg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    text-decoration: none;
  }
  a:visited {
    color: initial;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
